*{
  padding: 0;
  margin: 0;
}
body, html{
  height: 100%;
}
body {
	background-image: url("../images/niceView.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font: max(1.2vw, 15px) Arial, sans-serif;
	text-align: center;
}
.form{
  height: 160vh;
  width: 35%;
}
iframe{
	border-width: 0;
	width: 100%;
	height: 70%;
}
#park{
  height: 30%;
  width: 65%;
  display: flex;
  margin: auto;
}
#park img{
	flex-grow: 100;
}
#facebook{
  height: 60%;
  width: 100%;
}
.content {
	box-sizing: border-box;
	height: 80%;
	width: 100%;
	padding: 2%;
}
#calendar{
	padding: 0.5%;
}


header {
	display: block;
	width: 100%;
	height: 20%;
	overflow: hidden;
	background-image: linear-gradient(to bottom right, rgba(172, 0, 89, 0.48) , rgba(255, 0, 132, 0.61));
}
header  div{
	margin: auto;
	display: flex;
	height: 60%;
	width: 100%;
}
header img, h2{
	flex-grow: 100;
}
nav{
	display: block; 
	height: 40%;
	width: 100%,
}
nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
	width: 100%;
	height: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
nav li{
	float: left;
	height: 100%;
	width: 13%;
	overflow: hidden;
}
nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	height: 100%;
	width: 100%;
	background-color: #333;
}
nav li:not(:first-child){
	border-left: 0.15vw solid #bbb;
}
nav a:hover{
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
a{
  color: black;
  text-decoration: none;
  background-color: rgba(119, 119, 119, 0.3);
}
a:hover{
  background-color: rgba(48, 47, 47, 0.4);
}
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}